<footer class="page-footer">
    <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Insta-Pics <i class="fas fa-camera-retro"></i></h5>
            <p class="grey-text text-lighten-4">E-mail: <a href="mailto:www.kered.christy@gmail.com">kered.christy@gmail.com</a></p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright Text, Designed with &hearts; by DEREK
        </div>
      </div>
</footer>